@import "material-symbols";
@import "m3-svelte/etc/styles.css";
@import "m3-svelte/etc/recommended-styles.css";

:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */

	color: var(--md-sys-color-on-surface);

	--md-ref-typeface-brand: Inter, sans-serif;
	--md-ref-typeface-plain: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
		--md-ref-typeface-brand: InterVariable, sans-serif;
		--md-ref-typeface-plain: InterVariable, sans-serif;
	}
}

* {
	padding: 0;
	margin: 0;
}

@function --m3-density(--size) {
	result: var(--size);
}
:root {
	color-scheme: light dark;
}
