@import "tailwindcss";
@plugin "@tailwindcss/forms";

:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		"liga" 1,
		"calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

@theme {
	/* https://m3.material.io/styles/motion/overview/specs */
	--ease-standard: cubic-bezier(0.2, 0, 0, 1);
}
